{
	"exec-opts": ["native.cgroupdriver=systemd"],
	"insecure-registries": ["{{ registries_server020 }}", "{{ registries_server021 }}", "{{ registries_server022 }}", "{{ registries_server023 }}", "{{ registries_server024 }}"]
}

